#contenedorDetalleInversiones{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 gap: 10px;
}

#tarjetaInversion{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    align-items:center;
    justify-content:space-around;
    border: none;
    border-radius: 5px;
    gap: 1%;;
}

#contImg{
    width: 11%;
}
#contDesc{
    width: 33%;

}
#contCant{
    width: 4%;  

}
#contPrecio{
    width: 13%;
}
#contSubtotal{
    width: 16%;
}

#contenedorTotal{
    padding-top: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
#totalPaquetes, #totalInversiones{
    margin-top: 0px;
    padding-top: 0px;
}

#modoPago{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: "Poppins";
}

#opciones{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* Quita las flechas en Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#contenedorFormulario{
    margin: 20px;
    padding: 15px;
    padding-bottom: 15px;
    border:rgb(223, 45, 178) solid;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 4px rgb(223, 45, 178);
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem; /* Un tamaño un poco más grande */
    letter-spacing: 1px; /* Espacio entre los caracteres para mayor claridad */

}
h2{
    margin-top: 25px;
    margin-bottom: 10px;
}
h3{
    margin-bottom: 12px;
}
#contenedorFormulario:hover{
 box-shadow: 0px 0px 25px 10px rgb(223, 45, 178);
 transition: 0.5s;
}
#card-number,#card-name,#expiry-date,#cvv{
 border: none;
 height: 22px;
 border-radius: 5px;
 /*box-shadow: 1px 1px 1px 1px beige;*/
 margin-top: 10px;
 text-align: center;
}
#expiry-date, #cvv{
    width: 55px;
}
#card-number:focus, #card-name:focus, #expiry-date:focus, #cvv:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(223, 45, 178); 
}



@media (max-width: 650px){
    #contImg{
            width: 8%;
}
#contDesc{
    font-size: 7px;

}
#contCant{
    font-size: 11px;

}
#contPrecio{
    font-size: 11px;
}
#contSubtotal{
    font-size: 11px;
}
}